<div class="modal" id="forgotPasswordModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Forgot Password</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form id="forgotPasswordForm">
        <input type="hidden" name="_csrf" id="forgotCsrfToken">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="email" required>
            <p class="help is-danger email-error"></p>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary">Send Reset Link</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div> 